body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.grid {
  margin: auto 20px;
  border: solid black 4px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}
.cell {
  width: 4px;
  height: 4px;
}
.alive {
  background-color: black;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  margin-bottom: 0;
}
